{$HOST} {
        basicauth /* {
                {$RPC_USERS}
        }
        reverse_proxy fullnode:8080
}

{$HOST}:9100 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy nodeexporter:9100
}

{$HOST}:9102 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy fullnode:9101
}

{$HOST}:8084 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy indexerprocessor:8084
}
{$HOST}:8085 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy indexerprocessor:8080
}